---
---

<a href="">
    <svg 
        width="46" 
        height="26" 
        viewBox="0 0 91 46" 
        fill="none"
    >
        <path fill-rule="evenodd" clip-rule="evenodd" d="M79.021 16.272c1.774-1.695 2.12-2.888 2.026-3.556s-.75-1.68-2.9-2.663c-2.05-.937-5.025-1.637-8.766-2.023-7.46-.769-17.624-.256-28.706 1.756-11.081 2.011-20.88 5.122-27.758 8.493-3.45 1.69-6.084 3.409-7.775 5.025-1.774 1.696-2.12 2.889-2.026 3.557s.75 1.679 2.9 2.662c2.05.938 5.025 1.638 8.766 2.023 7.46.77 17.625.256 28.706-1.755s20.881-5.122 27.758-8.493c3.45-1.691 6.085-3.41 7.775-5.026M43.724 31.466c22.334-4.054 43.896-13.71 42.99-20.159-.907-6.45-23.94-7.25-46.274-3.197C18.106 12.164.735 20.68 1.642 27.128c.907 6.45 19.747 8.392 42.082 4.338" fill="#002B4A"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M81.065 24.632c1.87-1.558 2.285-2.722 2.23-3.395-.054-.674-.649-1.732-2.737-2.877-1.99-1.091-4.917-2.016-8.627-2.685-7.397-1.334-17.57-1.595-28.745-.43-11.175 1.164-21.135 3.523-28.196 6.363-3.541 1.425-6.271 2.94-8.053 4.424-1.87 1.557-2.285 2.72-2.23 3.394.053.674.648 1.732 2.736 2.877 1.99 1.091 4.917 2.016 8.627 2.685 7.398 1.334 17.57 1.595 28.745.43 11.175-1.164 21.136-3.523 28.196-6.363 3.541-1.425 6.271-2.94 8.054-4.424M44.95 37.108c22.523-2.347 44.606-10.342 44.08-16.846-.525-6.504-23.458-9.054-45.981-6.707S2.694 23.077 3.22 29.581c.524 6.504 19.208 9.874 41.731 7.527" fill="#002B4A"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M82.003 34.627c1.96-1.409 2.444-2.538 2.43-3.214s-.544-1.778-2.558-3.083c-1.92-1.243-4.784-2.392-8.445-3.348-7.3-1.905-17.433-2.954-28.652-2.66s-21.298 1.875-28.513 4.161c-3.619 1.147-6.433 2.445-8.3 3.788-1.96 1.408-2.444 2.537-2.43 3.213s.543 1.78 2.557 3.083c1.92 1.243 4.785 2.393 8.446 3.348 7.3 1.906 17.433 2.955 28.652 2.66s21.298-1.874 28.513-4.16c3.618-1.147 6.433-2.446 8.3-3.788m-36.779 9.645c22.612-.594 45.123-6.857 44.99-13.386-.132-6.53-22.86-10.854-45.47-10.26-22.612.594-40.835 6.368-40.702 12.898s18.57 11.341 41.182 10.748" fill="#002B4A"/>
        <path d="M15.707 16.21c0 1.77-1.263 3.205-2.82 3.205-1.558 0-2.821-1.434-2.821-3.204s1.263-3.205 2.82-3.205c1.558 0 2.82 1.435 2.82 3.205" fill="#C90000"/>
    </svg>
</a>