---
import Instagram from "./buttons/Instagram.astro";
import FormReact from "./react/FormReact";
---

<section>
    <img src="./splash-3.webp" alt="">
    <div class="box_form_contact" >
        <FormReact client:only="react" />
        <div>
            <header>
                <h1>CONTÁCTANOS</h1>
                <p>DEJANOS TU CONSULTA, PRESUPUESTAMOS EN EL ACTO Y SIN COMPLICACIONES</p>
            </header>
            <div>
                <div>
                    <Instagram/>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    section{
        position: relative;
        margin-top: 50px;
        display: grid;
        place-items: center;
    }
    .box_form_contact{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 800px;
        padding-block: 50px;
        gap: 30px;
    }
    h1{
        font-size: 40px;
        letter-spacing: 5px;
        margin: 0;
    }
    p{
        font-size: 11px;
        text-wrap: balance;
        margin: 0;
    }
    img{
        position: absolute;
        width: 850px;
        bottom: 0;
        mask-image: linear-gradient(var(--secundary)80%,transparent);
    }
</style>