---
import FormReact from "./react/FormReact";
---

<section>
    <div class="box_form_contact" >
        <FormReact client:only="react" />
        <div>
            <h1>CONTÁCTANOS</h1>
            <h2>DEJANOS TU CONSULTA, PRESUPUESTAMOS EN EL ACTO Y SIN COMPLICACIONES</h2>
        </div>
    </div>
</section>

<style>
    section{
        margin-top: 100px;
        display: grid;
        place-items: center;
    }
    .box_form_contact{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 800px;
        padding-block: 50px;
        gap: 20px;
    }
    h1{
        font-size: 40px;
        margin: 0;
    }
    h2{
        font-size: 11px;
        text-wrap: balance;
        margin: 0;
    }
</style>