---
import Instagram from "./buttons/Instagram.astro";
import FormReact from "./react/FormReact";
import Meta from "./buttons/Meta.astro";
import Call from "./icons/Call.astro";
import Email from "./icons/Email.astro";
---

<section>
    <img class="splash_contact" src="splash-3.webp" alt="">
    <img class="splash_mobile" src="splash-3-mobile.webp" alt="">
    <div class="box_form_contact" >
        <FormReact client:only="react" />
        <div class="box_header" >
            <header>
                <h1>CONTÁCTANOS</h1>
                <p>DEJANOS TU CONSULTA, PRESUPUESTAMOS EN EL ACTO Y SIN COMPLICACIONES</p>
            </header>
            <div class="container_networks" >
                <div>
                    <Instagram color="black" />
                    <p>@DESTAPACIONESDAVILA</p>
                </div>
                <div>
                    <Meta color="black" />
                    <p>DESTAPACIONES.DAVILA</p>
                </div>
                <div>
                    <Call/>
                    <p>11 5859-5267</p>
                </div>
                <div>
                    <Email/>
                    <p>DESTAPACIONESDAVILA@HOTMAIL.COM</p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    section{
        position: relative;
        margin-top: 50px;
        display: grid;
        place-items: center;
    }
    .box_form_contact{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 800px;
        padding-block: 50px;
        gap: 30px;
    }
    .box_header{
        z-index: 3;
    }
    h1{
        font-size: 40px;
        letter-spacing: 5px;
        margin: 0;
    }
    p{
        font-size: 11px;
        text-wrap: balance;
        margin: 0;
    }
    .splash_contact{
        position: absolute;
        width: 850px;
        bottom: 0;
        mask-image: linear-gradient(transparent,var(--primary) 80%);
    }
    .splash_mobile{
        display: none;
    }
    .container_networks{
        display: grid;
        align-items: center;
        justify-content: left;
        margin-top: 15px;
    }
    .container_networks > div{
        display: flex;
        align-items: center;
        height: 30px;
        gap: 5px;
    }

    @media
        (width < 700px){
            section{
                width: 350px;
            }
            .splash_contact{
                display: none;
            }
            .splash_mobile{
                display: grid;
                position: absolute;
                width: 350px;
                left: 0px;
                bottom: 0;
                mask-image: linear-gradient(transparent,var(--primary) 80%);
            }
            .box_form_contact{
                flex-direction: column-reverse;
                width: 350px;
            }
        }
</style>