---
import Arrow from "./icons/Arrow.astro";

---

<section>
    <div class="container_info" >
        <div class="box_image_info" >
            <picture>
                <img src="./Destapaciones Davila - Maquinaria.webp" alt="">
            </picture>
            <div class="box_info" >
                <Arrow/>
                <h5>UNICOS CON EQUIPOS ESPECIALIZADOS EN ZONA SUR</h5>
                <h6>TRABAJAMOS EN TODA LA ZONA SUR. ¿TUVISTE PROBLEMAS CON PRESUPUESTOS QUE DESPUÉS TERMINAN SIENDO OTRA COSA? CON NOSOTROS, LO QUE SE PRESUPUESTA ES LO QUE SE COBRA. ¡SIN SORPRESAS!</h6>
            </div>
        </div>
        <div class="box_button_info" >
            <button>
                CONSULTA POR LLAMADA
            </button>
        </div>
    </div>
</section>

<style>
    section{
        display: grid;
        place-items: center;
        margin-top: -120px;
    }
    h5{
        text-wrap: balance;
    }
    .container_info{
        display: grid;
        place-items: center;
        width: 750px;
    }
    .box_image_info{
        display: flex;
        align-items: flex-start;
    }
    .box_info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    picture{
        position: relative;
        z-index: 1;
        display: flex;
        width: 400px;
        height: 190px;
        margin-bottom: -50px;
    }
    picture::after{
        z-index: 0;
        content: '';
        position: absolute;
        width: 100%;
        height: 110%;
        background-image: 
            url('./Destapaciones Davila - Maquinaria.webp');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        filter: blur(8px);
    }
    img{
        z-index: 2;
        width: 100%;
        height: 100%;
    }
    .box_button_info{
        display: grid;
        width: 100%;
        align-items: flex-start;
        justify-content: right;
        padding-top: 15px;
        padding-right: 70px;
    }
</style>