---
import Arrow from "./icons/Arrow.astro";
import Send from "./icons/Send.astro";

---

<section>
    <div class="container_info" >
        <div class="box_image_info" >
            <picture/>
            <div class="box_info" >
                <Arrow/>
                <h5>UNICOS CON EQUIPOS ESPECIALIZADOS EN ZONA SUR</h5>
                <h6>TRABAJAMOS EN TODA LA ZONA SUR. ¿TUVISTE PROBLEMAS CON PRESUPUESTOS QUE DESPUÉS TERMINAN SIENDO OTRA COSA? CON NOSOTROS, LO QUE SE PRESUPUESTA ES LO QUE SE COBRA. ¡SIN SORPRESAS!</h6>
            </div>
        </div>
        <div class="box_button_info" >
            <button>
                CONSULTA POR LLAMADA
                <Send/>
            </button>
        </div>
    </div>
</section>

<style>
    section{
        display: grid;
        place-items: center;
        margin-top: -120px;
    }
    h5{
        text-wrap: balance;
    }
    .container_info{
        display: grid;
        place-items: center;
        width: 750px;
    }
    .box_image_info{
        display: flex;
        align-items: flex-start;
    }
    .box_info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    picture{
        position: relative;
        z-index: 1;
        display: flex;
        width: 400px;
        height: 190px;
        margin-right: 15px;
        margin-bottom: -50px;
        background: url('/Destapaciones-Davila-Maquinaria.webp');
        background-size: contain;
        background-repeat: no-repeat;
    }
    picture::after{
        z-index: -1;
        position: absolute;
        content: '';
        top: -5px;
        width: 105%;
        height: 105%;
        background: inherit;
        backdrop-filter: blur(5px);
    }
    .box_button_info{
        display: grid;
        width: 100%;
        align-items: flex-start;
        justify-content: right;
        padding-top: 15px;
        padding-right: 70px;

    }
    button{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        overflow: hidden;
    }
    button:hover::after{
        content: "";
        position: absolute;
        top: 0;
        left: -120px;
        height: 100%;
        width: 100%;
        background: linear-gradient(
            90deg,
            transparent,
            rgba(255, 255, 255, 0.6),
            transparent
        );
        animation: shimmer 1.5s infinite;
    }

    @media
        (width < 700px){
            section{
                width: 350px;
            }
            .container_info{
                width: 350px;
            }
            .box_info{
                width: 350px;
            }
            .box_button_info{
                width: 350px;
                align-items: center;
                justify-content: center;
                padding-right:0px ;
            }
            .box_image_info{
                display: grid;
            }
        }
</style>