---
---

<section>
	<h1 class="destapaciones" >DESTAPACIONES</h1>
	<div class="davila_box" >
		<h2>PRESUPUESTO POR WHATSPP Y AL INSTANTE</h2>
		<h1>DAVILA</h1>
	</div>
</section>

<style>
	section{
		display: grid;
		place-items: center;
		gap: 10px;
	}
	.destapaciones{
		font-size: 70px;
		margin: 0;
		padding-right: 250px;
	}
	.davila_box{
		display: flex;
		text-align: right;
		align-items: flex-start;
		gap: 15px;
		h2{
			margin: 0;
			font-size: 20px;
		}
		h1{
			font-size: 80px;
			margin-top:-13px ;
		}
	}
</style>
