---
---

<section>
	<h1 class="destapaciones" >DESTAPACIONES</h1>
	<div class="davila_box" >
		<h2>PRESUPUESTO POR WHATSAPP Y AL INSTANTE</h2>
		<h1>DAVILA</h1>
	</div>
</section>

<style>
	section{
		display: grid;
		place-items: center;
		gap: 10px;
	}
	.destapaciones{
		font-size: 70px;
		margin: 0;
		padding-right: 290px;
		letter-spacing: 5px;
	}
	.davila_box{
		display: flex;
		text-align: right;
		align-items: flex-start;
		gap: 15px;
		h2{
			margin: 0;
			font-size: 18px;
		}
		h1{
			font-size: 80px;
			margin: 0;
			border: solid 1px var(--sencundary);
			border-radius: 40px;
			padding-inline: 20px;
		}
	}
</style>
