---
const { title } = Astro.props
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="canonical" href="https://destapacionesdavila.com.ar/">
		<meta name="generator" content={Astro.generator} />
		<title>{title ? title : 'Destapaciones Davila en Avellaneda | Cloacas, Pluviales y Cañerías 24 hs en Toda Zona Sur'}</title>
		<meta name="description" content="Servicio de Destapaciones en Avellaneda las 24 hs. Destapaciones de Cloacas, Pluviales, Desagües de Cocina, Lavadero, Rejillas de Baño y Columnas de Bajada. Atención los 365 días del año, incluyendo Domingos y Feriados. Siempre de Guardia con Máquina Profesional.">

		<!-- facebook,whatsapp,etc-->
		<meta property="og:title" content="Destapaciones Davila en Avellaneda 24 hs | Servicio Profesional en Zona Sur">
		<meta property="og:description" content="Destapaciones de Cloacas, Pluviales, Desagües de Cocina y Lavadero, Rejillas de Baño y Columnas de Bajada en Avellaneda. Atención 24 hs en Zona Sur, todos los días. ¡Siempre de Guardia!">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://destapacionesdavila.com.ar/">
		<meta property="og:image" content="https://lh3.googleusercontent.com/gps-cs-s/AC9h4nrLabs16pw48yrRoquJ4moy9KJEpCMGXPeGAO8skIEwGr9_Q30C28Y8q5DxKKLgQLz8gkv7ETGhf2yBvJ4v7S04sx5lFrax7aRCMRmFCBeuKGFRUbvvNsgbPbWLK_Ov8Iv7TVJe=s680-w680-h510-rw">
		
		<!-- X (Twitter)-->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Destapaciones Davila en Avellaneda 24 hs | Servicio Profesional en Zona Sur">
		<meta name="twitter:description" content="Cloacas, Pluviales, Cocina, Lavadero, Baño. Atención urgente 24/7 en Avellaneda con máquina profesional. ¡Siempre de Guardia!">
		<meta name="twitter:image" content="https://lh3.googleusercontent.com/p/AF1QipPyf5xoJQY_7gOBII0EtylAarouXFedgbqmTYWi=s680-w680-h510-rw">
	</head>
	<body id="body" >
		<slot />
	</body>
</html>

<script>
	const navbar = document.getElementById('navbar')

	window.addEventListener('scroll',()=>{
		if(window.scrollY > 10){
			navbar?.classList.add('scrolled')
		}else {
			navbar?.classList.remove('scrolled')
		}
	})
</script>

<style is:global >
	@font-face {
		font-family: 'PlayFair';
		src: url('../assets/fonts/Playfair_9pt_SemiCondensed-ExtraBold.ttf');
	}
	@font-face {
		font-family: 'Roboto';
		src: url('../assets/fonts/Roboto.ttf');
	}
	:root{
		--primary:#EAEAEA;
		--secundary:#2E2F31;
		--action:#1565C0;
		--sky-blue:#9ACAED;
		--grey:#D9D9D9;

		display: grid;
		align-items: center;
		justify-content: center;
		height: 100vh;
	}
	:root::-webkit-scrollbar{
   		width: 5px;
	}
	:root::-webkit-scrollbar-thumb{
		background-color: var(--secundary);
	}

	html,
	body {
		font-family: "Roboto", sans-serif;
		display: grid;
		align-items: center;
		justify-content: center;
		margin: 0;
		background-color: var(--primary);
		color: var(--secundary);
	}
	h1{
		font-family: 'PlayFair',sans-serif;
		line-height: 1;
	}
	h2{
		font-weight: 500;
		font-style: italic;
	}
	h5,h6{
		margin: 2px;
	}
	p{
		font-weight: bold;
	}
	button{
		display: grid;
		place-items: center;
		width: 220px;
		height: 35px;
		border-radius: 40px;
		font-size: 12px;
		color: var(--primary);
		background-color: var(--action);
		outline: none;
		border: none;
	}
	textarea{
		height: 100px;
		resize: none;
	}

	@keyframes shimmer {
		0% {
		transform: translateX(0);
		}
		100% {
		transform: translateX(450px);
		}
	}
</style>
